In [1]:
import requests
import pandas as pd
import time

In [2]:
def get_data_for_page(url, page):
    # Parâmetros da solicitação GET
    params = {'page': page, 'pageSize': 50}
    
    # Fazendo a solicitação GET
    response = requests.get(url, params=params)
    
    # Verificando se a solicitação foi bem sucedida
    if response.status_code == 200:
        # Convertendo a resposta para JSON e retornando os itens
        data = response.json()
        return data.get('items', [])
    else:
        # Se não for bem sucedida, exibimos uma mensagem de erro
        print(f"Erro na página {page}: {response.status_code}")
        return None

In [3]:
# URL do endpoint
url = 'https://api.fbi.gov/wanted/v1/list'

In [4]:
# Lista para armazenar os dados de todas as páginas
data_list = []

In [5]:
# Número total de páginas
total_pages = 20

In [6]:
# Tamanho do lote de páginas a serem processadas de uma vez
batch_size = 5

In [7]:
# Tempo de espera entre os lotes de solicitações (em segundos)
wait_time = 40

In [8]:
# Fator de aumento do tempo de espera entre tentativas
wait_time_multiplier = 1.5

In [9]:
# Loop através das páginas em lotes
for batch_start in range(1, total_pages + 1, batch_size):
    # Obter páginas neste lote
    batch_pages = range(batch_start, min(batch_start + batch_size, total_pages + 1))
    
    # Loop através das páginas neste lote
    for page in batch_pages:
        # Obter dados para esta página
        page_data = get_data_for_page(url, page)
        
        # Se os dados foram recebidos com sucesso, adicione-os à lista de dados
        if page_data is not None:
            data_list.extend(page_data)
    
    # Aguardar um intervalo de tempo após o processamento de cada lote
    time.sleep(wait_time)

Erro na página 14: 429
Erro na página 15: 429
Erro na página 16: 429
Erro na página 17: 429
Erro na página 18: 429
Erro na página 19: 429
Erro na página 20: 429

In [10]:
# Convertendo a lista de dicionários para um DataFrame do pandas
df = pd.DataFrame(data_list)

In [11]:
# Selecionando apenas as colunas desejadas
df = df[['title', 'sex', 'eyes_raw', 'nationality', 'hair', 'weight', 'race', 'dates_of_birth_used', 'subjects']]

In [12]:
# Renomeando as colunas
df = df.rename(columns={'title': 'nome', 'sex': 'sexo', 'eyes_raw': 'cor_olhos', 
                        'nationality': 'nacionalidade', 'hair': 'cor_cabelo', 
                        'weight': 'peso', 'race': 'raca', 
                        'dates_of_birth_used': 'data_nascimento', 'subjects': 'delitos'})

In [13]:
# Exibindo o DataFrame resultante
print(df)

                                            nome    sexo   cor_olhos  \
0        MAURA MURRAY - HAVERHILL, NEW HAMPSHIRE  Female  Green/Blue
1                          ROBERT WILLIAM FISHER    Male        Blue
2    DAWN MARIE MOZINO - BRYN MAWR, PENNSYLVANIA  Female       Brown
3                 JANE DOE - LINN COUNTY, OREGON  Female        None
4            OREGON RIGHT TO LIFE BUILDING ARSON    None        None
..                                           ...     ...         ...
645                            DAWNITA WILKERSON  Female       Brown
646                       OLIVIA SAMANTHA FOWLER  Female       Green
647               JOHN DOE - WICKENBURG, ARIZONA    Male        None
648                                 NAKHLE NADER    Male       Brown
649                             AVERY WHITESKUNK    Male       Brown

    nacionalidade cor_cabelo                                           peso  \
0            None      brown                              120 to 125 pounds
1        American      brown                                     190 pounds
2            None      brown                                     110 pounds
3            None      brown                              110 to 140 pounds
4            None       None                                           None
..            ...        ...                                            ...
645          None      black  145 pounds (At the time of her disappearance)
646          None      blond                                     103 pounds
647          None       None                                           None
648      Lebanese      brown                                     180 pounds
649          None      black                                     160 pounds

         raca   data_nascimento                                delitos
0       white              None                [ViCAP Missing Persons]
1       white  [April 13, 1961]              [Violent Crime - Murders]
2       white              None                [ViCAP Missing Persons]
3       white              None           [ViCAP Unidentified Persons]
4        None              None                  [Seeking Information]
..        ...               ...                                    ...
645     black  [March 14, 1976]      [Kidnappings and Missing Persons]
646     white  [March 23, 1995]      [Kidnappings and Missing Persons]
647  hispanic              None           [ViCAP Unidentified Persons]
648     white    [June 3, 1971]                   [White-Collar Crime]
649    native    [May 10, 1961]  [Seeking Information, Indian Country]

[650 rows x 9 columns]

In [14]:
print(df[df['nome'] == 'AARON PAUL VICTORY'])

                 nome  sexo cor_olhos nacionalidade cor_cabelo  \
8  AARON PAUL VICTORY  Male     Brown          None      brown

                peso   raca  \
8  196 to 201 pounds  white

                                     data_nascimento  \
8  [January 28, 1979, July 28, 1979, January 28, ...

                                         delitos
8  [Additional Violent Crimes, Case of the Week]

In [16]:
# Salvando o DataFrame alterado em um arquivo Excel
df.to_excel('df.xlsx', index=False)

In [17]:
# Separar os delitos em linhas individuais
new_data = []
for index, row in df.iterrows():
    for delito in row['delitos']:
        new_row = row.copy()
        new_row['delito'] = delito
        new_data.append(new_row)

In [18]:
# Criar o DataFrame alterado
df_alterado = pd.DataFrame(new_data)

In [19]:
# Exibindo o DataFrame resultante
print(df_alterado)

                                            nome    sexo   cor_olhos  \
0        MAURA MURRAY - HAVERHILL, NEW HAMPSHIRE  Female  Green/Blue
1                          ROBERT WILLIAM FISHER    Male        Blue
2    DAWN MARIE MOZINO - BRYN MAWR, PENNSYLVANIA  Female       Brown
3                 JANE DOE - LINN COUNTY, OREGON  Female        None
4            OREGON RIGHT TO LIFE BUILDING ARSON    None        None
..                                           ...     ...         ...
646                       OLIVIA SAMANTHA FOWLER  Female       Green
647               JOHN DOE - WICKENBURG, ARIZONA    Male        None
648                                 NAKHLE NADER    Male       Brown
649                             AVERY WHITESKUNK    Male       Brown
649                             AVERY WHITESKUNK    Male       Brown

    nacionalidade cor_cabelo               peso      raca   data_nascimento  \
0            None      brown  120 to 125 pounds     white              None
1        American      brown         190 pounds     white  [April 13, 1961]
2            None      brown         110 pounds     white              None
3            None      brown  110 to 140 pounds     white              None
4            None       None               None      None              None
..            ...        ...                ...       ...               ...
646          None      blond         103 pounds     white  [March 23, 1995]
647          None       None               None  hispanic              None
648      Lebanese      brown         180 pounds     white    [June 3, 1971]
649          None      black         160 pounds    native    [May 10, 1961]
649          None      black         160 pounds    native    [May 10, 1961]

                                   delitos                           delito
0                  [ViCAP Missing Persons]            ViCAP Missing Persons
1                [Violent Crime - Murders]          Violent Crime - Murders
2                  [ViCAP Missing Persons]            ViCAP Missing Persons
3             [ViCAP Unidentified Persons]       ViCAP Unidentified Persons
4                    [Seeking Information]              Seeking Information
..                                     ...                              ...
646      [Kidnappings and Missing Persons]  Kidnappings and Missing Persons
647           [ViCAP Unidentified Persons]       ViCAP Unidentified Persons
648                   [White-Collar Crime]               White-Collar Crime
649  [Seeking Information, Indian Country]              Seeking Information
649  [Seeking Information, Indian Country]                   Indian Country

[736 rows x 10 columns]

In [24]:
for index, row in df_alterado.iterrows():
    if isinstance(row['data_nascimento'], list):  # Verificar se é uma lista
        df_alterado.at[index, 'data_nascimento'] = ', '.join(row['data_nascimento'])  # Juntar os elementos da lista em uma string
    else:
        print(row['data_nascimento']) # Se não for uma lista, imprimir o valor diretamente

None
None
None
None
January 28, 1979, July 28, 1979, January 28, 1969
None
None
None
None
October 31, 1963
May 31, 1974, August 26, 1972
None
None
October 16, 1966
1963
Approximately 1960
Unknown
July 10, 1965, July 11, 1965
June 13, 1964
June 26, 1967
February 10, 1967
January 30, 1966
None
None
None
October 12, 1979
None
None
None
None
None
None
November 26, 2003
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
October 11, 1985
None
None
None
None
None
None
None
None
None
March 9, 1990
None
None
None
None
None
None
None
None
December 4, 1978
None
None
None
None
None
None
None
None
None
None
None
None
None
August 14, 1974
None
None
None
None
None
None
None
None
August 31, 1981
None
October 4, 1990
October 4, 1990
October 23, 1979
None
None
None
None
None
May 26, 1970
None
None
None
None
None
None
None
November 7, 1979
None
None
May 5, 1997
May 5, 1997
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
June 10, 1981
October 22, 1962
December 2, 1976
March 16, 1969
September 7, 1966
September 18, 1972
None
None
None
None
None
None
None
None
None
None
None
None
None
None
June 15, 1985
None
None
None
None
None
July 24, 1965
None
None
None
None
July 7, 1988
None
None
None
None
June 20, 1967
May 25, 1980
July 4, 1967
July 4, 1967
None
None
None
None
None
None
None
None
None
None
March 18, 1951
March 21, 1977
August 28, 1981
None
None
None
None
April 22, 1994
None
None
August 13, 1938
August 13, 1938
None
None
January 31, 1981
None
None
None
None
None
None
January 1, 1985
None
None
None
None
None
None
None
None
None
None
None
None
None
None
December 6, 1970
None
July 10, 1970
None
None
None
None
July 22, 1990
April 1, 1996
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
November 10, 1982
October 8, 1967
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
March 11, 1982
None
None
January 3, 1985
None
None
None
None
August 21, 1967
None
None
None
None
October 29, 1984
None
February 9, 1977
None
None
April 13, 1992
April 11, 1992
March 12, 1989
March 12, 1989
None
August 14, 1949
May 24, 1966
None
None
None
None
None
None
None
None
None
May 10, 1961

In [25]:
# Remover a coluna 'delitos'
df_alterado.drop(columns=['delitos'], inplace=True)

In [26]:
# Exibir o DataFrame resultante
print(df_alterado)

                                            nome    sexo   cor_olhos  \
0        MAURA MURRAY - HAVERHILL, NEW HAMPSHIRE  Female  Green/Blue
1                          ROBERT WILLIAM FISHER    Male        Blue
2    DAWN MARIE MOZINO - BRYN MAWR, PENNSYLVANIA  Female       Brown
3                 JANE DOE - LINN COUNTY, OREGON  Female        None
4            OREGON RIGHT TO LIFE BUILDING ARSON    None        None
..                                           ...     ...         ...
646                       OLIVIA SAMANTHA FOWLER  Female       Green
647               JOHN DOE - WICKENBURG, ARIZONA    Male        None
648                                 NAKHLE NADER    Male       Brown
649                             AVERY WHITESKUNK    Male       Brown
649                             AVERY WHITESKUNK    Male       Brown

    nacionalidade cor_cabelo               peso      raca data_nascimento  \
0            None      brown  120 to 125 pounds     white            None
1        American      brown         190 pounds     white  April 13, 1961
2            None      brown         110 pounds     white            None
3            None      brown  110 to 140 pounds     white            None
4            None       None               None      None            None
..            ...        ...                ...       ...             ...
646          None      blond         103 pounds     white  March 23, 1995
647          None       None               None  hispanic            None
648      Lebanese      brown         180 pounds     white    June 3, 1971
649          None      black         160 pounds    native    May 10, 1961
649          None      black         160 pounds    native    May 10, 1961

                              delito
0              ViCAP Missing Persons
1            Violent Crime - Murders
2              ViCAP Missing Persons
3         ViCAP Unidentified Persons
4                Seeking Information
..                               ...
646  Kidnappings and Missing Persons
647       ViCAP Unidentified Persons
648               White-Collar Crime
649              Seeking Information
649                   Indian Country

[736 rows x 9 columns]

In [27]:
print(df_alterado[df_alterado['nome'] == 'AARON PAUL VICTORY'])

                 nome  sexo cor_olhos nacionalidade cor_cabelo  \
8  AARON PAUL VICTORY  Male     Brown          None      brown
8  AARON PAUL VICTORY  Male     Brown          None      brown

                peso   raca  \
8  196 to 201 pounds  white
8  196 to 201 pounds  white

                                     data_nascimento  \
8  January 28, 1979, July 28, 1979, January 28, 1969
8  January 28, 1979, July 28, 1979, January 28, 1969

                      delito
8  Additional Violent Crimes
8           Case of the Week

In [28]:
# Salvando o DataFrame alterado em um arquivo Excel
df_alterado.to_excel('df_alterado.xlsx', index=False)